Repository jwillikers/cyrillic-encoder: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, just, yamllint

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    .idea/.*|
    .run/.*|
    .vscode/.*
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
        args: ["--autofix"]
        exclude: ^.vscode/.*\.json$
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: cmake-format
        entry: nix develop --command cmake-format --in-place
        language: system
        name: cmake-format
        pass_filenames: true
        types: [file, cmake]
      - id: clang-format
        entry: nix develop --command clang-format -i -Werror
        language: system
        name: clang-format
        pass_filenames: true
        types: [file]
        types_or: [c, c++]
      - id: just
        entry: nix develop --command just --fmt --unstable
        files: |
          (?x)^(
            \.justfile|
            justfile|
            .*\.just
          )$
        language: system
        name: just
        pass_filenames: false
      - id: yamllint
        entry: nix develop --command yamllint
        language: system
        name: yamllint
        pass_filenames: true
        types: [file, yaml]

Update boost-ut and microsoft-gsl modules
  packaging/com.jwillikers.CyrillicEncoder.metainfo.xml
  packaging/com.jwillikers.CyrillicEncoder.yaml
Due: yamllint

Set arch flag
  .github/workflows/build.yaml
Due: yamllint

Fix multiarch Flatpak builds
  .github/workflows/build.yaml
  .vscode/settings.json
Due: yamllint

Enable LSAN runtime options for debugging
  .editorconfig
  src/CMakeLists.txt
Due: none

Update flake
  flake.nix
Due: none

Add spellings
  .vscode/settings.json
Due: none

Update Flatpak to Qt 6.8
  packaging/com.jwillikers.CyrillicEncoder.yaml
Due: yamllint

Update boost, boost-ut and microsoft-gsl modules
  packaging/com.jwillikers.CyrillicEncoder.metainfo.xml
  packaging/com.jwillikers.CyrillicEncoder.yaml
Due: yamllint

chore(deps): Update nix-direnv
  .envrc
Due: none

Update flake and fix treefmt hook
  flake.lock
  pre-commit-hooks.nix
Due: none

Remove link checker workflow
  .github/workflows/link-checker.yaml
Due: yamllint

Remove Nix cache action
  .github/workflows/appstream-util-validate.yaml
  .github/workflows/build.yaml
  .github/workflows/desktop-file-validate.yaml
  .github/workflows/lock-updater.yaml
  .github/workflows/schedule.yaml
  .github/workflows/treefmt.yaml
  .github/workflows/update-nix-direnv.yaml
  .github/workflows/update-nixos-release.yaml
  .github/workflows/yamllint.yaml
Due: yamllint

Update GNOME version
  .github/workflows/build.yaml
Due: yamllint

Upadate image
  .github/workflows/build.yaml
Due: yamllint

Set arch
  .github/workflows/build.yaml
Due: yamllint

Try running on arm runner
  .github/workflows/build.yaml
Due: yamllint

chore(deps): Update NixOS release
  flake.lock
  flake.nix
Due: none

chore(deps): Update NixOS release
  flake.nix
Due: none

Remove unused flake input
  flake.nix
Due: none

Add some spellings
  .vscode/settings.json
Due: none

Update flake lock
  flake.lock
Due: none

Use boost::range::lower_bound as suggested by the compiler
  .editorconfig
  include/cyrillic-encoder/encode.hpp
  src/CMakeLists.txt
Due: clang-format

Update C++ standard to C++23
  CMakeLists.txt
Due: none

Be careful with string construction from string_views
  .editorconfig
  include/cyrillic-encoder/encode.hpp
  src/encode.test.cpp
  src/main.cpp
Due: clang-format

Update CMake minimum version
  CMakeLists.txt
Due: none

Fix update-nix-direnv action
  .github/workflows/update-nix-direnv.yaml
  flake.lock
Due: yamllint

Allow auto-merge
  .github/settings.yml
Due: yamllint

Fix string instantiation from string_view
  src/main.cpp
Due: clang-format

Disable C++20 modules to ensure the compile_commands.json is valid
  CMakeLists.txt
Due: none

Add string_view include to make IWYU happy
  src/main.cpp
Due: clang-format

Revert "Update CMake minimum version"
  CMakeLists.txt
Due: none
