Repository jwillikers/cyrillic-encoder: changes, and which pre-commit hooks are due for each by the changed paths.
All: cmake-format, clang-format, just, yamllint

cmake-format:
  entry: nix develop --command cmake-format --in-place
  language: system
  name: cmake-format
  pass_filenames: true

clang-format:
  entry: nix develop --command clang-format -i -Werror
  language: system
  name: clang-format
  pass_filenames: true

just:
  entry: nix develop --command just --fmt --unstable
  language: system
  name: just
  pass_filenames: false

yamllint:
  entry: nix develop --command yamllint
  language: system
  name: just
  pass_filenames: true

Use file types in pre-commit hooks
  .pre-commit-config.yaml
Due: yamllint

Format .just files
  .github/workflows/format-just.yaml
  .pre-commit-config.yaml
Due: yamllint

Use a personal access token to ensure workflows run for updates
  .github/workflows/external-data-checker.yaml
  .github/workflows/lock-updater.yaml
  .github/workflows/pre-commit-autoupdate.yaml
Due: yamllint

Update lock-updater action
  .github/workflows/lock-updater.yaml
Due: yamllint

Use token for coverage step
  .github/workflows/build.yaml
Due: yamllint

Run Code Coverage Report for dependabot runs
  .github/workflows/build.yaml
Due: yamllint

Replace cachix action with DeterminateSystems actions
  .github/workflows/build.yaml
Due: yamllint

Organize settings
  .vscode/settings.json
Due: none

Run flake lock updater once a month
  .github/workflows/lock-updater.yaml
Due: yamllint

Use git-hooks.nix, treefmt-nix, and nix-direnv
  .editorconfig
  .envrc
  .github/dependabot.yaml
  .github/workflows/build.yaml
  .github/workflows/clang-format.yaml
  .github/workflows/cmake-format.yaml
  .github/workflows/format-just.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/lock-updater.yaml
  .github/workflows/schedule.yaml
  .github/workflows/test-update-nix-direnv.yaml
  .github/workflows/treefmt.yaml
  .github/workflows/update-nix-direnv.yaml
  .gitignore
  .justfile
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  .yamlfmt.yaml
  .yamllint.yaml
  LICENSE.adoc
  README.adoc
  default.nix
  flake.lock
  flake.nix
  lychee.toml
  update-nix-direnv-tests.nu
  update-nix-direnv.nu
Due: just, yamllint

Don't use save-always for cache action
  .github/workflows/build.yaml
  .github/workflows/schedule.yaml
Due: yamllint

Don't cache Python venv
  .github/workflows/treefmt.yaml
Due: yamllint

Sort
  .github/workflows/lock-updater.yaml
Due: yamllint

Fix lychee.toml
  lychee.toml
Due: none

Format
  flake.nix
Due: none

Fix flake
  flake.nix
Due: none

Don't set reviewers for lock-updater
  .github/workflows/lock-updater.yaml
Due: yamllint

Update CI
  .editorconfig
  .github/settings.yml
  .github/workflows/appstream-util-validate.yaml
  .github/workflows/build.yaml
  .github/workflows/desktop-file-validate.yaml
  .github/workflows/flake-checker.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/test-update-nix-direnv.yaml
  .github/workflows/treefmt.yaml
  .github/workflows/update-nix-direnv.yaml
  .github/workflows/yamllint.yaml
  .justfile
  README.adoc
  flake.lock
  flake.nix
  update-nix-direnv-tests.nu
  update-nix-direnv.nu
Due: just, yamllint

Move nativeBuildInputs and buildInputs to devShell
  default.nix
  flake.nix
Due: none

Refactor flake
  flake.lock
  flake.nix
  package.nix
  pre-commit-hooks.nix
  treefmt.nix
Due: none

Use upstream CMake formatter in treefmt-nix
  flake.lock
  treefmt.nix
Due: none

Ignore flatpak.org
  lychee.toml
Due: none

Update boost-ut and microsoft-gsl modules
  packaging/com.jwillikers.CyrillicEncoder.metainfo.xml
  packaging/com.jwillikers.CyrillicEncoder.yaml
Due: yamllint

Remove extra quotes
  .github/workflows/update-nix-direnv.yaml
Due: yamllint

Update justfile
  .justfile
Due: just

Remove nil
  flake.nix
Due: none

Exclude nix files from the vscode watcher
  .vscode/settings.json
Due: none

Inherit once
  flake.nix
Due: none

Switch to NixOS 24.11
  .github/workflows/update-nixos-release.yaml
  .vscode/settings.json
  flake.lock
  flake.nix
  pre-commit-hooks.nix
Due: yamllint

Fix pre-commit
  pre-commit-hooks.nix
Due: none

boost: Update boost-1.86.0-cmake.tar.xz to 1.87.0
  packaging/com.jwillikers.CyrillicEncoder.yaml
Due: yamllint

chore(deps): Update NixOS release
  flake.lock
  flake.nix
Due: none

chore(deps): Update nix-direnv
  .envrc
Due: none

boost-ut: Update ut.git to 2.3.0
  packaging/com.jwillikers.CyrillicEncoder.yaml
Due: yamllint

Fix Lychee
  lychee.toml
Due: none

Fix cache upload
  .github/workflows/build.yaml
Due: yamllint

Path conditions:
  cmake-format: any of: (?x)^(
  CMakeLists.txt|
  .*\.cmake|
  .*/CMakeLists.txt
)$
, but not: (?x)^(
  .idea/.*|
  .run/.*|
  .vscode/.*
)$

  clang-format: any of: (?x)^(
  .*\.cpp|
  .*\.hpp
)$
, but not: (?x)^(
  .idea/.*|
  .run/.*|
  .vscode/.*
)$

  just: any of: (?x)^(
  \.justfile|
  justfile
)$
, but not: (?x)^(
  .idea/.*|
  .run/.*|
  .vscode/.*
)$

  yamllint: any of: (?x)^(
  .*\.yaml|
  .*\.yml
)$
, but not: (?x)^(
  .idea/.*|
  .run/.*|
  .vscode/.*
)$

